<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lembagasosialkematian">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.pengeluaran.PengeluaranTambah"></activity>
        <activity android:name=".ui.berhenti.MeninggalDetail" />
        <activity android:name=".ui.sumbangan.SumbanganTambah" />
        <activity android:name=".ui.sumbangan.SumbanganDetail" />
        <activity android:name=".ui.peserta.PesertaUpdate" />
        <activity android:name=".ui.peserta.PesertaDetail" />
        <activity android:name=".ui.peserta.PesertaTambah" />
        <activity
            android:name=".NavDrawer"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>